@tailwind base;
@tailwind components;

html {
  font-size: 62.5%;
  font-weight: 400;
}

body {
  font-size: 1.6rem;
}

.theme-light {
  /* bg-color */
  --color-background: #f2f3f5;
  --color-paper: #e4e4e4;

  /* font-color */
  --color-primary-text: #000000;
  --color-secondary-text: #3f3f3f;

  /* devider */
  --color-border: #7383be;
}

.theme-dark {
  /* bg-color */
  --color-background: #181818;
  --color-paper: #5a5a5a;

  /* font-color */
  --color-primary-text: #ffffff;
  --color-secondary-text: #b9b9b9;

  /* devider */
  --color-border: #7383be;
}

.content-transition {
  transition: background-color 0.25s;
}

@tailwind utilities;
