@tailwind base;
@tailwind components;
@import './weather-icons-wind.css';
html {
  font-weight: 400;
}

body {
  font-family: theme('fontFamily.sans');
  font-size: theme('fontSize.base');
  padding: 0 theme('padding.2');
}

h2::first-letter {
  text-transform: capitalize;
}

.theme-light {
  /* bg-color */
  --color-background: #f2f3f5;
  --color-paper: #e4e4e4;

  /* font-color */
  --color-primary-text: #000000;
  --color-secondary-text: #3f3f3f;

  /* devider */
  --color-key: #7383be;
}

.theme-dark {
  /* bg-color */
  --color-background: #181818;
  --color-paper: #5a5a5a;

  /* font-color */
  --color-primary-text: #ffffff;
  --color-secondary-text: #b9b9b9;

  /* devider */
  --color-key: #7383be;
}

/* util  */
.wrap {
  margin: 0 auto;
  max-width: theme('maxWidth.6xl');
}

.inner-wrap {
  margin: 0 auto;
  max-width: theme('maxWidth.md');
}

.content-transition {
  transition: background-color 0.25s;
}

.capitalize-first-letter::first-letter {
  text-transform: capitalize;
}

/* react-weather-icons */
.wi {
  line-height: inherit !important;
}

@tailwind utilities;
